.SDKWorkflow {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid: repeat(5, 1fr);
    gap: 0.5rem;
    grid-template-areas:
        ". . td desktop ."
        "thing1 . nodeWot . ."
        ". tm . . phone"
        "thing2 . dartWot . tablet"
        ". . . nodeRed .";

    --_item-width: clamp(2.5rem, 1.7857142857142858rem + 3.571428571428571vw, 5rem);
    --_item-gap: clamp(0.25rem, 0.17857142857142858rem + 0.35714285714285715vw, 0.5rem);
    --_item-font-size: clamp(0.35rem, 0.25rem + 0.49999999999999994vw, 0.7rem);
    --_item-inactive-icon: clamp(1.25rem, 0.9642857142857143rem + 1.4285714285714286vw, 2.25rem);
    --_item-active-icon: clamp(1rem, 0.7857142857142857rem + 1.0714285714285714vw, 1.75rem);
    --_thingweb-inactive-icon: clamp(1.4rem, 1.0857142857142856rem + 1.5714285714285716vw, 2.5rem);
    --_thingweb-active-icon: clamp(1.2rem, 1.0428571428571427rem + 0.7857142857142858vw, 1.75rem);
    --_item-translate-icon: clamp(0.2rem, 0.14285714285714288rem + 0.2857142857142857vw, 0.4rem);

    &__line {
        position: absolute;
    }

    .line1 {
        top: clamp(5.25rem, 4.178571428571429rem + 5.357142857142857vw, 9rem);
        left: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 8rem;
        stroke-dashoffset: 8rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line2 {
        top: clamp(3.35rem, 2.6642857142857146rem + 3.428571428571428vw, 5.75rem);
        left: clamp(9.35rem, 7.235714285714286rem + 10.571428571428571vw, 16.75rem);
        width: clamp(2rem, 1.5714285714285714rem + 2.142857142857143vw, 3.5rem);
        height: auto;
        stroke-dasharray: 6rem;
        stroke-dashoffset: 6rem;
        animation: animateLine2 10s ease-in-out infinite 250ms;
    }

    .line3 {
        top: clamp(11.25rem, 8.75rem + 12.5vw, 20rem);
        left: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 8rem;
        stroke-dashoffset: 8rem;
        animation: animateLine3 10s ease-in-out infinite 5.25s;
    }

    .line4 {
        top: clamp(8.25rem, 6.392857142857142rem + 9.285714285714286vw, 14.75rem);
        left: clamp(8.25rem, 6.535714285714286rem + 8.571428571428571vw, 14.25rem);
        width: clamp(5.75rem, 4.821428571428571rem + 4.642857142857143vw, 9rem);
        height: auto;
        stroke-dasharray: 11rem;
        stroke-dashoffset: 11rem;
        animation: animateLine4 10s ease-in-out infinite 5.25s;
    }

    .line5 {
        top: clamp(12.5rem, 9.642857142857142rem + 14.285714285714285vw, 22.5rem);
        left: clamp(2.25rem, 2.0357142857142856rem + 1.0714285714285714vw, 3rem);
        width: clamp(8rem, 6rem + 10vw, 15rem);
        height: auto;
        stroke-dasharray: 17rem;
        stroke-dashoffset: 17rem;
        animation: animateLine5 10s ease-in-out infinite 5.25s;
    }

    .line6 {
        top: clamp(12.5rem, 9.642857142857142rem + 14.285714285714285vw, 22.5rem);
        left: clamp(12.25rem, 9.464285714285715rem + 13.928571428571429vw, 22rem);
        width: clamp(2rem, 1.5rem + 2.5vw, 3.75rem);
        height: auto;
        stroke-dasharray: 6rem;
        stroke-dashoffset: 6rem;
        animation: animateLine6 10s ease-in-out infinite 5.25s;
    }

    .thing1 {
        grid-area: thing1;
        animation: showItemBox 10s ease-in-out infinite;

        .icon {
            animation: showThingwebSvg 10s ease-in-out infinite;

            path {
                animation: showThingwebPath 10s ease-in-out infinite;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .thing2 {
        grid-area: thing2;
        animation: showItemBox 10s ease-in-out infinite 5s;

        .icon {
            animation: showThingwebSvg 10s ease-in-out infinite 5s;

            path {
                animation: showThingwebPath 10s ease-in-out infinite 5s;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite 5s;
        }
    }

    .td {
        grid-area: td;
    }

    .tm {
        grid-area: tm;
    }

    .nodeWot {
        grid-area: nodeWot;
        animation: showItemBox 10s ease-in-out infinite;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;

            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .dartWot {
        grid-area: dartWot;
        animation: showItemBox 10s ease-in-out infinite 5s;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite 5s;

            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite 5s;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite 5s;
        }
    }

    .nodeRed {
        grid-area: nodeRed;
        animation: showItemBox 10s ease-in-out infinite 5s;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite 5s;

            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite 5s;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite 5s;
        }
    }

    .desktop {
        grid-area: desktop;
        animation: showItemBox 10s ease-in-out infinite;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;

            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .phone {
        grid-area: phone;
        animation: showItemBox 10s ease-in-out infinite 5s;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite 5s;

            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite 5s;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite 5s;
        }
    }

    .tablet {
        grid-area: tablet;
        animation: showItemBox 10s ease-in-out infinite 5s;

        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite 5s;

            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite 5s;
            }
        }

        p {
            animation: showItemText 10s ease-in-out infinite 5s;
        }
    }

    &__item {
        aspect-ratio: 1/1;
        min-width: var(--_item-width);
        background-color: var(--neutral-clr-75);
        border-radius: 5px;
        border: 1px solid var(--neutral-clr-300);
        transition: all 350ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 0;

        p {
            font-size: 0.35rem;
            font-size: var(--_item-font-size);
            line-height: normal;
            font-weight: var(--fw-bold);
            font-family: var(--ff-primary);
            opacity: 0;
            transform: translateY(0.9rem);
        }

        .icon {
            transform: translateY(var(--_item-translate-icon));
            font-size: 1.25rem;
            font-size: var(--_item-inactive-icon);

            path {
                stroke: var(--neutral-clr-300);
                stroke-width: 20px;
                fill: var(--neutral-clr-75);
            }

            &.thingwebLogo {
                height: var(--_thingweb-inactive-icon);

                path {
                    stroke-width: 0.75px;
                }
            }
        }
    }
}

@keyframes showItemBox {
    0% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }

    4% {
        border-color: var(--neutral-clr-75);
        background-color: var(--neutral-clr-50);
        transform: scale(1.05);
        box-shadow: 3px 3px 10px var(--box-shadow-clr);
        gap: 0.25rem;
        gap: var(--_item-gap);
    }

    30% {
        border-color: var(--neutral-clr-75);
        background-color: var(--neutral-clr-50);
        transform: scale(1.05);
        box-shadow: 3px 3px 10px var(--box-shadow-clr);
        gap: 0.25rem;
        gap: var(--_item-gap);
    }

    38% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }

    100% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }
}

@keyframes showItemIconSvg {
    0% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }

    6% {
        transform: translateY(0);
        font-size: 1rem;
        font-size: var(--_item-active-icon);
    }

    30% {
        transform: translateY(0);
        font-size: 1rem;
        font-size: var(--_item-active-icon);
    }

    38% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }

    100% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }
}

@keyframes showThingwebSvg {
    0% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);
    }

    6% {
        transform: translateY(0);
        height: var(--_thingweb-active-icon);
    }

    30% {
        transform: translateY(0);
        height: var(--_thingweb-active-icon);
    }

    38% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);
    }

    100% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);
    }
}

@keyframes showThingwebPath {
    0% {
        stroke-width: 0.75px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    30% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    38% {
        stroke-width: 0.75px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: 0.75px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemIconPathPrimary {
    0% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    30% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    38% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemIconPathSecondary {
    0% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-secondary);
    }

    30% {
        stroke-width: 0;
        fill: var(--ifm-color-secondary);
    }

    38% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemText {
    0% {
        transform: translateY(0.9rem);
        opacity: 0;
    }

    4% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
    }

    38% {
        transform: translateY(0.9rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0.9rem);
        opacity: 0;
    }
}

@keyframes animateLine1 {
    0% {
        stroke-dashoffset: 8rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -8rem;
    }

    100% {
        stroke-dashoffset: -8rem;
    }
}

@keyframes animateLine2 {
    0% {
        stroke-dashoffset: 6rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -6rem;
    }

    100% {
        stroke-dashoffset: -6rem;
    }
}

@keyframes animateLine3 {
    0% {
        stroke-dashoffset: 8rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -8rem;
    }

    100% {
        stroke-dashoffset: -8rem;
    }
}

@keyframes animateLine4 {
    0% {
        stroke-dashoffset: 11rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -11rem;
    }

    100% {
        stroke-dashoffset: -11rem;
    }
}

@keyframes animateLine5 {
    0% {
        stroke-dashoffset: 17rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -17rem;
    }

    100% {
        stroke-dashoffset: -17rem;
    }
}

@keyframes animateLine6 {
    0% {
        stroke-dashoffset: 6rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    30% {
        stroke-dashoffset: 0;
    }

    38% {
        stroke-dashoffset: -6rem;
    }

    100% {
        stroke-dashoffset: -6rem;
    }
}
