/*** Community section ***/
.communitySection {
    position: relative;

    p {
        margin: 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 0;
    }

    &__stats {
        margin: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        padding: 3rem;
        border-radius: 1rem;
        background-color: var(--neutral-clr-50);
        border: 2px solid var(--neutral-clr-200);
        box-shadow: 0 4px 0 var(--neutral-clr-200);

        .stat {
            flex: 1;
            text-align: center;

            &__number {
                font-size: var(--fs-h1);
                line-height: var(--lh-h1);
                color: var(--neutral-clr-900);
            }

            &__description {
                font-family: var(--ff-primary);
                font-size: var(--fs-section-subheader);
                line-height: var(--lh-section-subheader);
                color: var(--neutral-clr-900);
            }
        }
    }

    &__cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .btn {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .communitySection {
        &__stats {
            flex-direction: row;
            gap: 1rem;
        }

        &__cta {
            flex-direction: row;

            .btn {
                width: fit-content;
            }
        }
    }
}

.gridBackground {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    mask: linear-gradient(
        305deg,
        rgba(255, 255, 255, 0.5) 5%,
        rgba(255, 255, 255, 0.25) 20%,
        rgba(255, 255, 255, 0.05) 30%,
        transparent 45%,
        transparent
    );

    svg {
        width: 100%;
        min-width: 110rem;
    }
}
