/*** Value proposition section ***/
.vpSection {

    p, h1, h2, h3{
        margin: 0;
    }

    &__title,
    &__subheader {
        text-align: center;
    }

    &__features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11rem;
        margin-top: 10rem;
        margin-bottom: 4rem;

        .feature {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-align: center;
            min-height: 15rem;
            padding: 6rem 1rem 1rem;
            border-radius: 1rem;
            background-color: var(--neutral-clr-50);
            border: 1px solid var(--neutral-clr-200);
            box-shadow: 1px 1px 10px var(--box-shadow-clr), inset 0px 0px 5px var(--box-shadow-clr);

            &__description,
            &__title {
                flex: 1;
            }

            &__title {
                color: var(--neutral-clr-900);
                font-size: var(--fs-h2);
                line-height: var(--lh-h2);
            }

            &__description {
                font-weight: var(--fw-medium);
                color: var(--neutral-clr-600);
            }

            &__icon {
                position: absolute;
                --width-icon: 15rem;
                width: var(--width-icon);
                max-width: 80%;
                top: calc(-1 * (var(--width-icon) + 3rem) / 2);
                left: 50%;
                transform: translateX(-50%);

                .puzzleIcon {
                    fill: var(--ifm-color-primary);

                    .removedPiece,
                    .stationaryPiece {
                        transform-origin: center;
                        transition: transform 450ms ease;
                    }
                }

                .rocketIcon {
                    fill: var(--ifm-color-primary);

                    .rocket {
                        transform-origin: center;
                    }

                    .line {
                        stroke-dashoffset: 10px;
                        stroke-dasharray: 80px;
                        stroke: var(--neutral-clr-900);
                    }
                }

                .communityIcon {
                    fill: var(--ifm-color-primary);

                    .headLeft,
                    .headRight,
                    .headCenter,
                    .bodyLeft {
                        transform-origin: center;
                    }

                    .bodyCenter {
                        transform-origin: bottom;
                    }
                }
            }
        }

        .powerfulFeatures:hover {
            .rocket {
                animation: rocket 2s ease-in;
            }

            .line1 {
                animation: line 2s ease-in;
            }

            .line2 {
                animation: line 2s ease-in 250ms;
            }

            .line3 {
                animation: line 2s ease-in 500ms;
            }
        }

        .seamlessIntegration:hover {
            .removedPiece {
                animation: removedPiece 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .stationaryPiece {
                animation: stationaryPiece 2s cubic-bezier(.47, 1.64, .41, .8);
            }
        }

        .communityDriven:hover {
            .headLeft {
                animation: headLeft 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .bodyLeft {
                animation: bodyLeft 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .headRight {
                animation: headRight 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .bodyRight {
                animation: bodyRight 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .headCenter {
                animation: headCenter 2s cubic-bezier(.47, 1.64, .41, .8);
            }

            .bodyCenter {
                animation: bodyCenter 2s cubic-bezier(.47, 1.64, .41, .8);
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .vpSection {
        &__features {
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;

            .feature {
                flex: 1;
                min-height: 24rem;

                &__icon {
                    top: calc(-1 * (var(--width-icon) + 1rem) / 2);
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .vpSection {
        &__features {
            .feature {
                min-height: 22rem;

                &__icon {
                    top: calc(-1 * (var(--width-icon) + 5rem) / 2);
                }
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .vpSection {
        &__features {
            .feature {
                min-height: 18rem;
            }
        }
    }
}

@keyframes removedPiece {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    80% {
        transform: translate(-1.25rem, -1.5rem) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes stationaryPiece {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    80% {
        transform: translate(1.25rem, 1.5rem) rotate(5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes line {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(0, 0);
    }

    45% {
        transform: translate(0, 0);
        opacity: 1;
    }

    59% {
        transform: translate(-5rem, 5rem);
        stroke-dasharray: 20px;
        opacity: 0;
    }

    60% {
        transform: translate(15rem, -15rem);
        stroke-dasharray: 20px;
        opacity: 0;
    }

    70% {
        transform: translate(15rem, -15rem);
        stroke-dasharray: 20px;
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rocket {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    8% {
        transform: translate(0, -.15rem) rotate(1deg);
    }

    16% {
        transform: translate(0, 0) rotate(0);
    }

    24% {
        transform: translate(0, -.15rem) rotate(1deg);
    }

    32% {
        transform: translate(0, 0) rotate(0);
    }

    40% {
        transform: translate(0, -.15rem) rotate(1deg);
    }

    50% {
        transform: translate(0, 0) rotate(0) scale(1);
        opacity: 1;
    }

    75% {
        transform: translate(15rem, -15rem) rotate(0) scale(.25);
        opacity: 0;
    }

    76% {
        transform: translate(-10rem, 10rem) rotate(0) scale(.5);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes headLeft {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-1rem, -1rem);
    }

    50% {
        transform: translate(0, -.5rem);
    }

    75% {
        transform: translate(-1rem, -1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes bodyLeft {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-1rem, -1rem);
    }

    75% {
        transform: translate(-1rem, -1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes headRight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(1rem, -1rem);
    }

    50% {
        transform: translate(0, -.5rem);
    }

    75% {
        transform: translate(1rem, -1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes bodyRight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(1rem, -1rem);
    }

    75% {
        transform: translate(1rem, -1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes headCenter {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, .5rem);
    }

    50% {
        transform: translate(0, 1rem);
    }

    75% {
        transform: translate(0, .5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes bodyCenter {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(.95);
    }

    75% {
        transform: scaleY(.95);
    }

    100% {
        transform: scaleY(1);
    }
}