.services {
    padding: 4rem 0;

    p, h1, h2, h3 {
        margin: 0;
    }

    .pageWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    &__subheader {
        max-width: unset;
    }
}