.PlatformWorkflow {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid: repeat(5, 1fr);
    gap: .5rem;
    grid-template-areas:
        ". td . nodeWot ."
        "thing1 . . . tools"
        "tm . thingweb . playground"
        "domus . . . nodeRed"
        ". thing2 . dartWot .";

    --_item-width: clamp(2.5rem, 1.7857142857142858rem + 3.571428571428571vw, 5rem);
    --_item-gap: clamp(0.25rem, 0.17857142857142858rem + 0.35714285714285715vw, 0.5rem);
    --_item-font-size: clamp(0.35rem, 0.25rem + 0.49999999999999994vw, 0.7rem);
    --_item-inactive-icon: clamp(1.25rem, 0.9642857142857143rem + 1.4285714285714286vw, 2.25rem);
    --_item-active-icon: clamp(1rem, 0.7857142857142857rem + 1.0714285714285714vw, 1.75rem);
    --_thingweb-inactive-icon: clamp(1.4rem, 1.0857142857142856rem + 1.5714285714285716vw, 2.5rem);
    --_thingweb-active-icon: clamp(1.2rem, 1.0428571428571427rem + 0.7857142857142858vw, 1.75rem);
    --_item-translate-icon: clamp(0.2rem, 0.14285714285714288rem + 0.2857142857142857vw, 0.4rem);

    &__line {
        position: absolute;
    }

    .line1 {
        top: clamp(2.25rem, 1.9642857142857144rem + 1.4285714285714286vw, 3.25rem);
        left: clamp(6.5rem, 5.214285714285714rem + 6.428571428571428vw, 11rem);
        width: clamp(1.5rem, 1.1428571428571428rem + 1.7857142857142856vw, 2.75rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }
    .line2 {
        top: clamp(2.25rem, 1.9642857142857144rem + 1.4285714285714286vw, 3.25rem);
        left: clamp(8.5rem, 6.642857142857142rem + 9.285714285714286vw, 15rem);
        width: clamp(1.5rem, 1.1428571428571428rem + 1.7857142857142856vw, 2.75rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }
    .line6 {
        top: clamp(9.5rem, 7.428571428571429rem + 10.357142857142856vw, 16.75rem);
        left: clamp(8.5rem, 6.642857142857142rem + 9.285714285714286vw, 15rem);
        width: clamp(1.5rem, 1.1428571428571428rem + 1.7857142857142856vw, 2.75rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }
    .line7 {
        top: clamp(9.4rem, 7.300000000000001rem + 10.5vw, 16.75rem);
        left: clamp(6.4rem, 5.1571428571428575rem + 6.2142857142857135vw, 10.75rem);
        width: clamp(1.65rem, 1.2642857142857142rem + 1.9285714285714288vw, 3rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line3 {
        top: clamp(5.25rem, 4.178571428571429rem + 5.357142857142857vw, 9rem);
        left: clamp(9.5rem, 7.357142857142858rem + 10.714285714285714vw, 17rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line5 {
        top: clamp(8.75rem, 6.821428571428571rem + 9.642857142857142vw, 15.5rem);
        left: clamp(9.5rem, 7.357142857142858rem + 10.714285714285714vw, 17rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line8 {
        top: clamp(8.75rem, 6.821428571428571rem + 9.642857142857142vw, 15.5rem);
        left: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line10 {
        top: clamp(5.25rem, 4.035714285714286rem + 6.071428571428571vw, 9.5rem);
        left: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 10rem;
        stroke-dashoffset: 10rem;
        animation: animateLine1 10s ease-in-out infinite 250ms;
    }

    .line4 {
        top: clamp(8.25rem, 6.464285714285714rem + 8.928571428571429vw, 14.5rem);
        left: clamp(9.5rem, 7.357142857142858rem + 10.714285714285714vw, 17rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 6rem;
        stroke-dashoffset: 6rem;
        animation: animateLine2 10s ease-in-out infinite 250ms;
        transform: rotate(180deg);
    }

    .line9 {
        top: clamp(8.25rem, 6.464285714285714rem + 8.928571428571429vw, 14.5rem);
        left: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        width: clamp(3.5rem, 2.7857142857142856rem + 3.571428571428571vw, 6rem);
        height: auto;
        stroke-dasharray: 6rem;
        stroke-dashoffset: 6rem;
        animation: animateLine2 10s ease-in-out infinite 250ms;
    }


    .thing1 {
        grid-area: thing1;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showThingwebSvg 10s ease-in-out infinite;
            path {
                animation: showThingwebPath 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .thing2 {
        grid-area: thing2;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .td {
        grid-area: td;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .tm {
        grid-area: tm;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .nodeWot {
        grid-area: nodeWot;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .dartWot {
        grid-area: dartWot;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .nodeRed {
        grid-area: nodeRed;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .domus {
        grid-area: domus;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .tools {
        grid-area: tools;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathSecondary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .playground {
        grid-area: playground;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showItemIconSvg 10s ease-in-out infinite;
            path {
                animation: showItemIconPathPrimary 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    .thingweb {
        grid-area: thingweb;
        animation: showItemBox 10s ease-in-out infinite;
        .icon {
            animation: showThingwebSvg 10s ease-in-out infinite;
            path {
                animation: showThingwebPath 10s ease-in-out infinite;
            }
        }
        p {
            animation: showItemText 10s ease-in-out infinite;
        }
    }

    &__item {
        aspect-ratio: 1/1;
        min-width: var(--_item-width);
        background-color: var(--neutral-clr-75);
        border-radius: 5px;
        border: 1px solid var(--neutral-clr-300);
        transition: all 350ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 0;

        p {
            font-size: 0.35rem;
            font-size: var(--_item-font-size);
            line-height: normal;
            font-weight: var(--fw-bold);
            font-family: var(--ff-primary);
            opacity: 0;
            transform: translateY(.9rem);
        }

        .icon {
            transform: translateY(var(--_item-translate-icon));
            font-size: 1.25rem;
            font-size: var(--_item-inactive-icon);

            path {
                stroke: var(--neutral-clr-300);
                stroke-width: 20px;
                fill: var(--neutral-clr-75);
            }

            &.thingwebLogo {
                height: var(--_thingweb-inactive-icon);

                path {
                    stroke-width: .75px;
                }
            }
        }
    }
}

@keyframes showItemBox {
    0% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }

    4% {
        border-color: var(--neutral-clr-75);
        background-color: var(--neutral-clr-50);
        transform: scale(1.05);
        box-shadow: 3px 3px 10px var(--box-shadow-clr);
        gap: 0.25rem;
        gap: var(--_item-gap);
    }

    50% {
        border-color: var(--neutral-clr-75);
        background-color: var(--neutral-clr-50);
        transform: scale(1.05);
        box-shadow: 3px 3px 10px var(--box-shadow-clr);
        gap: 0.25rem;
        gap: var(--_item-gap);
    }

    58% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }

    100% {
        border-color: var(--neutral-clr-300);
        background-color: var(--neutral-clr-75);
        transform: scale(1);
        box-shadow: 0 0 0 var(--box-shadow-clr);
        gap: 0;
    }
}

@keyframes showItemIconSvg {
    0% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }

    6% {
        transform: translateY(0);
        font-size: 1rem;
        font-size: var(--_item-active-icon);
    }

    50% {
        transform: translateY(0);
        font-size: 1rem;
        font-size: var(--_item-active-icon);
    }

    58% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }

    100% {
        transform: translateY(var(--_item-translate-icon));
        font-size: 1.25rem;
        font-size: var(--_item-inactive-icon);
    }
}

@keyframes showThingwebSvg {
    0% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);
    }

    6% {
        transform: translateY(0);
        height: var(--_thingweb-active-icon);
    }

    50% {
        transform: translateY(0);
        height: var(--_thingweb-active-icon);
    }

    58% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);

    }

    100% {
        transform: translateY(var(--_item-translate-icon));
        height: var(--_thingweb-inactive-icon);

    }
}

@keyframes showThingwebPath {
    0% {
        stroke-width: .75px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    50% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    58% {
        stroke-width: .75px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: .75px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemIconPathPrimary {
    0% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    50% {
        stroke-width: 0;
        fill: var(--ifm-color-primary);
    }

    58% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemIconPathSecondary {
    0% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    4% {
        stroke-width: 0;
        fill: var(--ifm-color-secondary);
    }

    50% {
        stroke-width: 0;
        fill: var(--ifm-color-secondary);
    }

    58% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }

    100% {
        stroke-width: 20px;
        fill: var(--neutral-clr-75);
    }
}

@keyframes showItemText {
    0% {
        transform: translateY(.9rem);
        opacity: 0;
    }

    4% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    58% {
        transform: translateY(.9rem);
        opacity: 0;
    }

    100% {
        transform: translateY(.9rem);
        opacity: 0;
    }
}

@keyframes animateLine1 {
    0% {
        stroke-dashoffset: 10rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
    }

    58% {
        stroke-dashoffset: -10rem;
    }

    100% {
        stroke-dashoffset: -10rem;
    }
}

@keyframes animateLine2 {
    0% {
        stroke-dashoffset: 6rem;
    }

    4% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
    }

    58% {
        stroke-dashoffset: -6rem;
    }

    100% {
        stroke-dashoffset: -6rem;
    }
}