.workflowsSection {
    background-color: var(--box-shadow-clr);

    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    &__buttons {
        display: none;
    }

    &__workflows {
        width: 100%;
        overflow: hidden;

        .workflowsWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 8rem;
        }

        .workflow {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            transition: transform 500ms ease-in-out;

            &[data-workflow="simple"] {
                transform: translateX(0);
            }

            &[data-workflow="homogeneous"] {
                transform: translateX(-100%);
            }

            &[data-workflow="professional"] {
                transform: translateX(-200%);
            }

            &__illustration {
                order: 2;
                width: 50%;
                max-width: 30rem;
                display: grid;
                place-items: center;
            }

            &__content {
                order: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &>* {
                    text-align: center;
                }

                .title {
                    margin-bottom: 2rem;
                }

                .description,
                li {
                    color: var(--neutral-clr-600);
                }

                .description {
                    margin-bottom: 1rem;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .workflowsSection {

        &__buttons {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            margin-bottom: 4rem;

            .workflowBtn {
                appearance: none;
                position: relative;
                font-size: var(--fs-h3);
                line-height: var(--lh-h3);
                line-height: normal;
                font-family: var(--ff-primary);
                font-weight: var(--fw-bold);
                color: var(--neutral-clr-500);
                border-bottom: 2px solid transparent;
                padding: .5rem 1.5rem;
                width: fit-content;
                cursor: pointer;
                transition: color 250ms ease-in-out;

                &:hover {
                    color: var(--neutral-clr-900);
                }

                &:checked {
                    border-bottom: 2px solid var(--ifm-color-primary);
                    color: var(--neutral-clr-900);
                }

                &:nth-child(1)::before {
                    content: 'Client-Only';
                }

                &:nth-child(2)::before {
                    content: 'Homogeneous';
                }

                &:nth-child(3)::before {
                    content: 'Orchestration';
                }
            }
        }

        &__workflows {

            .workflowsWrapper {
                width: 300%;
                flex-direction: row;
                gap: 0;
            }

            .workflow {
                padding: 0 2rem;
                flex-direction: row;
                gap: 8rem;

                &__illustration {
                    order: 1;
                }

                &__content {
                    order: 2;
                    width: 50%;
                    align-items: flex-start;

                    &>* {
                        text-align: left;
                    }
                }

                &:nth-child(2) {
                    .workflow__illustration {
                        order: 2;
                    }

                    .workflow__content {
                        order: 1;
                    }
                }
            }
        }
    }
}

.homogeneousSvg {
    &__line1 {
        transform-origin: top;
        stroke-dashoffset: 200px;
        stroke-dasharray: 200px;
        animation: connect 15s ease-in-out infinite;
    }

    &__nodeWot {
        fill: var(--box-shadow-clr);
        stroke: var(--neutral-clr-700);
        animation: connectBox 15s ease-in-out infinite 250ms;
    }

    &__dartWot {
        fill: var(--box-shadow-clr);
        stroke: var(--neutral-clr-700);
        animation: connectBox 15s ease-in-out infinite 500ms;
    }
}

@keyframes connect {
    0% {
        stroke-dashoffset: 200px;
    }
    10% {
        stroke-dashoffset: 0px;
    }
    50% {
        stroke-dashoffset: 0px;
    }
    55% {
        stroke-dashoffset: -200px;
    }
    100% {
        stroke-dashoffset: -200px;
    }
}

@keyframes connectBox {
    0% {
        fill: transparent;
        stroke: var(--neutral-clr-700);
    }
    5% {
        fill: var(--ifm-color-primary);
        stroke: transparent;
    }
    50% {
        fill: var(--ifm-color-primary);
        stroke: transparent;
    }
    55% {
        fill: transparent;
        stroke: var(--neutral-clr-700);
    }
    100% {
        fill: transparent;
        stroke: var(--neutral-clr-700);
    }
}