<!DOCTYPE html>
<html lang="en-us">
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
		
		<div class="why-holder">
		
			<div class="why-bottom-all">
				<!--
				<div class="why-sh">
					<img src="/img/others/twhy-1.png" class="img-fluid" width="100%"/>
				</div>
				 -->
				<div class="container">
					<div ><!-- class="why-in" -->
						<div class="row">
							<div class="col-sm-12">
								<div class="why-text">
									<!-- <h3>{{ .Title }}</h3> -->
									
									{{ .Content }}
									
									<!-- 
									<p>Fusce ultricies orci ac feugiat suscipit leo massa sodales velit et scelerisque mi tortor at ipsum cligula augue bibendum accumsan vestibulum ut commodo a mi </p>
									<p>Morbi ornare gravida elit Integer congue augue et malesuada iaculis ipsum dui aliquet felis at cursus magna nisl nec </p>
									<a href="#" class="btn btn-read">READ MORE</a>
									-->
								</div>
							</div>
							<!-- 
							<div class="col-sm-6">
								<div class="why-img text-center">
									<img src="/img/others/why-computer.png" class="img-fluid"/>
								</div>
							</div>
							-->
						</div>
					</div>
				</div>
				<div class="why-sh sp">
					<img src="/img/others/twhy-2.png" class="img-fluid" width="100%"/>
				</div>
			</div>
		</div>

		{{ partial "footer.html" . }}	
    </body>
</html>