/**
 * Global CSS variables.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --neutral-clr-50: #fffffe;
  --neutral-clr-75: #f2f2f2;
  --neutral-clr-100: #e4e6e6;
  --neutral-clr-200: #cacccc;
  --neutral-clr-300: #b1b3b3;
  --neutral-clr-400: #979999;
  --neutral-clr-500: #7e807f;
  --neutral-clr-600: #656666;
  --neutral-clr-700: #4c4d4c;
  --neutral-clr-800: #1e1e1e;
  --neutral-clr-900: #141414;
  --box-shadow-clr: rgba(138, 138, 138, 0.1);

  --ifm-color-primary: #33b8a4;
  --ifm-color-primary-dark: #2ea694;
  --ifm-color-primary-darker: #2b9c8b;
  --ifm-color-primary-darkest: #248173;
  --ifm-color-primary-light: #3ac8b3;
  --ifm-color-primary-lighter: #43cbb7;
  --ifm-color-primary-lightest: #5fd3c1;

  --ifm-color-secondary: #d65cab;
  --ifm-color-secondary-dark: #d0449e;
  --ifm-color-secondary-darker: #cd3798;
  --ifm-color-secondary-darkest: #ab2b7e;
  --ifm-color-secondary-light: #dd79ba;
  --ifm-color-secondary-lighter: #df81be;
  --ifm-color-secondary-lightest: #e8a5d1;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /*Fonts styles*/
  --ff-hero: "Bebas Neue", sans-serif;
  --ff-primary: "Josefin Sans", sans-serif;
  --ff-secondary: "Fira Mono", monospace;

  /*Font weights*/
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /*Font sizes*/

  --fs-hero: 3rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-subheader-hero: 1.375rem;
  --fs-subheader: 1.375rem;


  --fs-hero: clamp(3rem, 2.428571428571429rem + 2.857142857142857vw, 5rem);
  --fs-section-title: clamp(2.5rem, 2.357142857142857rem + 0.7142857142857143vw, 3rem);
  --fs-h1: clamp(2rem, 1.7142857142857144rem + 1.4285714285714286vw, 3rem);
  --fs-h2: clamp(1.5rem, 1.3571428571428572rem + 0.7142857142857143vw, 2rem);
  --fs-h3: clamp(1.25rem, 1.1785714285714286rem + 0.35714285714285715vw, 1.5rem);
  --fs-subheader-hero: clamp(1.375rem, 1.3035714285714286rem + 0.35714285714285715vw, 1.625rem);
  --fs-section-subheader: clamp(1.375rem, 1.3392857142857142rem + 0.17857142857142858vw, 1.5rem);
  --fs-subheader: clamp(1.25rem, 1.2142857142857142rem + 0.17857142857142858vw, 1.375rem);
  --fs-body-lg: 1.125rem;
  --fs-body: 1rem;
  --fs-body-sm: .875rem;

  /*Line Height
  *
  * Headings/subheadings: the bigger the size the smaller the line height
  * body: the smaller the size the bigger the line height
  */
  --lh-hero: calc(var(--fs-hero) * 1.1);
  --lh-section-title: calc(var(--fs-section-title) * 1.1);
  --lh-h1: calc(var(--fs-h1) * 1.1);
  --lh-h2: calc(var(--fs-h2) * 1.1);
  --lh-h3: calc(var(--fs-h3) * 1.1);
  --lh-subheader-hero: calc(var(--fs-subheader-hero) * 1.2);
  --lh-section-subheader: calc(var(--fs-section-subheader) * 1.2);
  --lh-subheader: calc(var(--fs-subheader) * 1.2);
  --lh-body: calc(var(--fs-body) * 1.5);
  --lh-body-lg: calc(var(--fs-body-lg) * 1.5);
  --lh-body-sm: calc(var(--fs-body-sm) * 1.5);

  /*Letter Spacing
  *Depends highly on the font-family, but as a general rule of thumb: the letter spacing can be -2px to -.25px for headings.
  */
  --ls-header: 1px;
  --ls-subheader: -.5px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {

  --neutral-clr-900: #fffffe;
  --neutral-clr-800: #e4e6e6;
  --neutral-clr-700: #cacccc;
  --neutral-clr-600: #b1b3b3;
  --neutral-clr-500: #979999;
  --neutral-clr-400: #7e807f;
  --neutral-clr-300: #656666;
  --neutral-clr-200: #4c4d4c;
  --neutral-clr-100: #1e1e1e;
  --neutral-clr-75: #1e1e1e;
  --neutral-clr-50: #1a1a1a;
  --box-shadow-clr: rgba(143, 143, 143, 0.1);

  --docusaurus-highlighted-code-line-bg: rgba(73, 73, 73, 0.3);
}

html {
  scroll-behavior: smooth;
  background-color: var(--neutral-clr-50);
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
  color: var(--neutral-clr-900);
  line-height: var(--lh-body);
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-header-lg)
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  letter-spacing: var(--ls-header-lg)
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  letter-spacing: var(--ls-header)
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  font-size: var(--fs-body-lg);
}

/************************************/
/*** Overriding docusaurus styles ***/
/************************************/

.navbar__title {
  font-family: var(--ff-primary);
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  line-height: normal;
}

a.navbar__item {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
}

div.header-search {
  order: 3;
  padding-right: 0;
}

.navbar-sidebar__back {
  font-weight: var(--fw-regular);
}

.breadcrumbs__item {
  .breadcrumbs__link {
    line-height: unset;
  }
}

.menu__list {
  .menu__link {
    font-size: var(--fs-body-sm);
  }
}

.table-of-contents__link {
  font-size: var(--fs-body-sm);
}

.footer {

  a,
  p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body-sm);
    line-height: 2.5;
  }

  &__title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
  }
}

.card h2 {
  letter-spacing: var(--ls-subheader);
}

.header-github-link {
  &::before {
    content: '';
    mask-image: url('/img/github.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--ifm-navbar-link-color);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  }

  &:hover::before {
    background-color: var(--ifm-color-primary);
  }

}

/********************/
/*** Footer logos ***/
/********************/

.logos-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  .foundation-logo {
    width: 7rem;
  }

  .iot-logo,
  .w3c-logo {
    width: 3.5rem;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid var(--neutral-clr-900);
  padding-top: 1.5rem;
  gap: 1rem;

  .thingweb-footer-logo {
    width: 8rem;

    path {
      fill: var(--neutral-clr-900);
    }
  }

  p {
    text-align: left;
  }
}

@media screen and (min-width: 997px) {
  .logos-wrapper {
    width: 8rem;
    justify-content: space-between;

    .foundation-logo {
      width: 100%;
    }

    .iot-logo,
    .w3c-logo {
      width: calc(50% - .5rem);
    }
  }

  .footer__copyright {
    flex-direction: row;
    align-items: center;
  }
}

/***********************/
/****** Utilities ******/
/***********************/

.hero-title {
  font-family: var(--ff-hero);
  letter-spacing: var(--ls-header);
}

.hero-subheader,
.section-subheader,
.subheader {
  font-family: var(--ff-primary);
  letter-spacing: var(--ls-subheader);
  max-width: 50ch;
  color: var(--neutral-clr-700);
}

.hero-subheader {
  font-size: var(--fs-subheader-hero);
  line-height: var(--lh-subheader-hero);
}

.section-subheader {
  font-size: var(--fs-section-subheader);
  line-height: var(--lh-section-subheader);
}

.subheader {
  font-size: var(--fs-subheader);
  line-height: var(--lh-subheader);
}

.section-title {
  font-size: var(--fs-section-title);
  line-height: var(--lh-section-title);
}

.container {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-docs {
  max-width: 1180px;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-highlight {
  color: var(--ifm-color-primary);
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}


/*** Buttons styles **/
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  appearance: none;
  border: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  line-height: normal;
  padding: .75rem 1.25rem;
  color: var(--neutral-clr-50);
  cursor: pointer;
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-medium);
  transition: all 150ms ease-in-out;

  &>* {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}

.btn-primary {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);

  &.btn-outline {
    background-color: transparent;
    color: var(--ifm-color-primary);
  }

  &:hover, &:focus {
    background-color: var(--ifm-color-primary-dark);
    border-color: var(--ifm-color-primary-dark);
    color: var(--neutral-clr-50);
  }

  &:active {
    background-color: var(--ifm-color-primary-darkest);
    border-color: var(--ifm-color-primary-darkest);
    color: var(--neutral-clr-50);
  }
}

.btn-secondary {
  background-color: var(--ifm-color-secondary);
  border-color: var(--ifm-color-secondary);

  &.btn-outline {
    background-color: transparent;
    color: var(--ifm-color-secondary);
  }

  &:hover, &:focus {
    background-color: var(--ifm-color-secondary-dark);
    border-color: var(--ifm-color-secondary-dark);
    color: var(--neutral-clr-50);

    &>* {
      color: inherit;
    }
  }

  &:active {
    background-color: var(--ifm-color-secondary-darkest);
    border-color: var(--ifm-color-secondary-darkest);
    color: var(--neutral-clr-50);

    &>* {
      color: inherit;
    }
  }
}

.btn-tertiary {
  background-color: var(--neutral-clr-100);
  border-color: var(--neutral-clr-100);
  color: var(--neutral-clr-900);

  &.btn-outline {
    background-color: transparent;
    color: var(--neutral-clr-50);
  }

  &:hover, &:focus {
    background-color: var(--neutral-clr-200);
    border-color: var(--neutral-clr-200);
    color: var(--neutral-clr-900);
  }

  &:active {
    background-color: var(--neutral-clr-300);
    border-color: var(--neutral-clr-300);
    color: var(--neutral-clr-900);
  }
}

/*** Scrollers ***/

.scroller {
  width: 100%;
  padding: 2rem 0;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, rgba(255, 255, 255) 5%, rgb(255, 255, 255) 95%, transparent);

  &>* {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: scroll var(--_animation-duration, 60s) var(--_animation-direction, forwards) linear infinite;
    gap: var(--_content-gap);
  }

  &[data-direction="left"] {
    --_animation-direction: forwards;
  }

  &[data-direction="right"] {
    --_animation-direction: reverse;
  }

  &[data-speed="slow"] {
    --_animation-duration: 50s;
  }

  &[data-speed="slower"] {
    --_animation-duration: 70s;
  }

  &[data-speed="fast"] {
    --_animation-duration: 30s;
  }

  &[data-speed="faster"] {
    --_animation-duration: 20s;
  }
}

.services-scroller {
  &:nth-child(3) {
    margin: 2rem 0;
  }

  &:nth-child(4) {
    margin-bottom: 2rem;
  }

  .reverse-services {
    .thing {
      &__tags {
        justify-content: flex-end;
      }
    }
  }
}


/**********************/
/****** Adopters ******/
/**********************/

.adopters-scroller .adopters {
  --_content-gap: clamp(4rem, 3.428571428571429rem + 2.857142857142857vw, 6rem);
  padding: 0;
  margin: 0;

  li {
    display: flex;
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    a {
      .adopters-img {
        width: 10rem;
        max-height: 3rem;
        object-fit: contain;

        &[alt="Microsoft"] {
          max-height: 5rem;
        }

        &[alt="Technical University of Munich (TUM)"] {
          max-height: 2rem;
        }
      }
    }

  }
}

/** Consent Banner **/
.analytics-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  padding: 2rem;
  background-color: var(--neutral-clr-50);
  box-shadow: 0px -5px 10px var(--neutral-clr-100);
  --_max-width: 10rem;

  &.hidden {
    display: none;
  }

  &__disclaimer {
    color: var(--neutral-clr-900);

    &>* {
      margin-bottom: 1rem;
    }

    h3 {
      color: var(--ifm-color-primary);
    }

    p {
      font-size: var(--fs-body-sm);

      a {
        text-decoration: underline;
        color: var(--ifm-color-primary);
        font-weight: var(--fw-bold);
      }
    }
  }

  &__interactions {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    &>* {
      flex: 1 1 var(--_max-width);
    }
  }
}

@media screen and (min-width: 768px) {
  .analytics-banner {
    &__disclaimer {
      p {
        font-size: var(--fs-body);
      }
    }
    &__interactions {
      &>* {
        max-width: var(--_max-width);
      }
    }
  }
}



/********************/
/**** Animations ****/
/********************/

@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--_content-gap)/2)));
  }
}