.headerHero {
    min-height: 94vh;
    min-height: 94svh;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headerContainer {
    flex: 1;
    display: grid;
    place-items: center;
}

.heroBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
    }

    &__title {
        max-width: 25ch;
        font-size: var(--fs-hero);
        line-height: var(--lh-hero);
        text-align: center;
        margin-bottom: 2rem;
        transform: translateY(1rem);
        opacity: 0;
        animation: fadeIn 1s ease forwards 250ms;
    }

    &__subheader {
        text-align: center;
        transform: translateY(1rem);
        opacity: 0;
        animation: fadeIn 1s ease forwards 500ms;
        margin-bottom: 0;
    }
}

.bannerCta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 4rem 0;
    transform: translateY(1rem);
    opacity: 0;
    animation: fadeIn 1s ease forwards 750ms;

    a {
        font-size: var(--fs-body);
    }
}

.adoptersContainer{
    background-color: var(--neutral-clr-50);
    padding: 2rem 0;
    width: 100%;
    opacity: 0;
    animation: fadeIn 750ms ease forwards 1s;
    mask: linear-gradient(180deg, transparent, rgba(255, 255, 255) 15%, rgb(255, 255, 255));

    p {
        text-align: center;
        color: var(--neutral-clr-700);
        text-transform: uppercase;
        font-weight: var(--fw-bold);
        font-family: var(--ff-primary);
        letter-spacing: var(ls-subheader);
        font-size: var(--fs-subheader);
    }
}

.gridBackground {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: -1;
    mask: linear-gradient(125deg, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, .25) 20%, rgba(255, 255, 255, .05) 30%, transparent 45%, transparent);
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease forwards 1.15s;

    svg {
        width: 100%;
        min-width: 110rem;
    }
}

@media screen and (min-width: 500px) {

    .bannerCta {
        flex-direction: row;

        a {
            width: fit-content;
        }
    }
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}