<div class="container">
	<div class="">
		<div class="footer-shape">
        	<img src="/img/others/footer-shape.jpg" class="img-fluid" style="width: 100%" />
        </div>
        <footer><!-- width="100%" -->
				<!--
                <div class="foot-social text-center">
                	<ul class="list-inline">     
                    	<li><a href="#"><img src="/img/icons/sh-1.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-2.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-3.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-4.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-5.png" class="img-fluid"/></a></li>
                    </ul>
                </div>
				-->
                <div class="foot-link text-center" >
                	<ul class="list-inline">     
                    	<li><a href="/">Home</a></li>
                        <li>|</li>
                        <!-- <li><a href="./contact.html">About us</a></li>
                        <li>|</li> 
                        <li><a href="#">Services</a></li>
                        <li>|</li>-->
                        <li><a href="https://github.com/eclipse/thingweb.node-wot/">Project on Github</a></li>
                        <li>|</li>
                        <!-- <li><a href="#">Reviews</a></li>
                        <li>|</li>-->
                        <li><a href="/get-involved.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="copy text-center">
                	<p>Copyrights © {{ dateFormat "2006" now }} Thingweb. All Rights Reserved. <span>|</span> <a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a> <span>|</span> <a href="http://www.eclipse.org/legal/privacy.php">Privacy  Policy</a></p>
                </div>
        </footer>
    	
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js" ></script>
        <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/js/custom.js" ></script>
        <script type="text/javascript" src="/js/owl.carousel.js" ></script>
	</div>
</div>