<div class="container">
    <div class="row">
        <div class="footer-shape">
            <img src="/img/others/footer-shape.jpg" class="img-fluid" style="width: 100%" />
        </div>
        <footer style="width: 100%"><!-- width="100%" -->
            <!--
                <div class="foot-social text-center">
                	<ul class="list-inline">     
                    	<li><a href="#"><img src="/img/icons/sh-1.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-2.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-3.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-4.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-5.png" class="img-fluid"/></a></li>
                    </ul>
                </div>
				-->
            <div class="foot-link text-center">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li>|</li>
                    <!-- <li><a href="./contact.html">About us</a></li>
                        <li>|</li> 
                        <li><a href="#">Services</a></li>
                        <li>|</li>-->
                    <li><a href="https://github.com/eclipse-thingweb">Project on Github</a></li>
                    <li>|</li>
                    <!-- <li><a href="#">Reviews</a></li>
                        <li>|</li>-->
                    <li><a href="/get-involved.html">Contact us</a></li>
                </ul>
            </div>
            <div class="copy text-center">
                <p>
                    <a href="http://www.eclipse.org" target="_blank">Eclipse</a>
                    <span>|</span>
                    <a href="http://www.eclipse.org/legal/privacy.php" target="_blank">Privacy Policy</a>
                    <span>|</span>
                    <a href="http://www.eclipse.org/legal/termsofuse.php" target="_blank">Terms of Use</a>
                    <span>|</span>
                    <a href="http://www.eclipse.org/legal/copyright.php" target="_blank">Copyright Agent</a>
                    <span>|</span>
                    <a href="http://www.eclipse.org/legal" target="_blank">Legal</a>
                </p>
                <br />
                <a href="https://www.eclipse.org" target="_blank">
                    <img style="height: 120px" src="https://www.eclipse.org/hono/img/eclipse_foundation_logo_wo.svg"
                        id="logo-eclipse-foundation">
                </a>

                <a href="https://iot.eclipse.org" target="_blank">
                    <img style="height: 50px" src="https://www.eclipse.org/hono/img/iot-logo.png">
                </a>
            </div>
            <div class="copy text-center">
                <p>© {{ dateFormat "2006" now }} Eclipse Thingweb Project</p>
            </div>
        </footer>

        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/custom.js"></script>
        <script type="text/javascript" src="/js/owl.carousel.js"></script>
    </div>
</div>