<div class="footer-shape">
        	<img src="/img/others/footer-shape.jpg" class="img-fluid" width="100%"/>
        </div>
        <footer>
        	<div class="container sp">
                <div class="foot-social text-center">
                	<ul class="list-inline">     
                    	<li><a href="#"><img src="/img/icons/sh-1.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-2.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-3.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-4.png" class="img-fluid"/></a></li>
                        <li><a href="#"><img src="/img/icons/sh-5.png" class="img-fluid"/></a></li>
                    </ul>
                </div>                                                         
                <div class="foot-link text-center">
                	<ul class="list-inline">     
                    	<li><a href="#">Home</a></li>
                        <li>|</li>
                        <li><a href="#">About us</a></li>
                        <li>|</li>
                        <li><a href="#">Services</a></li>
                        <li>|</li>
                        <li><a href="#">Projects</a></li>
                        <li>|</li>
                        <li><a href="#">Reviews</a></li>
                        <li>|</li>
                        <li><a href="#">Contact us  </a></li>
                    </ul>
                </div>
                <div class="copy text-center">
                	<p>Copyrights &copy; 2018 Thingweb. All Rights Reserved. <span>|</span> <a href="#">Terms of Use</a> <span>|</span> <a href="#">Privacy  Policy</a></p>
                </div>
            </div>
        </footer>
    	
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js" language="javascript"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js" language="javascript"></script>
		<script type="text/javascript" src="/js/custom.js" language="javascript"></script>
        <script type="text/javascript" src="/js/owl.carousel.js" ></script>