<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTBPVB8Z65"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FTBPVB8Z65');
    </script>
    <meta charset="utf-8" />
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title> Eclipse Thingweb </title>
    <meta name="description"
        content="Eclipse Thingweb node-wot provides Node.js packages for Web of Things (WoT) implementations which are standardized building blocks for IoT applications" />
    <meta name="author" content="Eclipse Thingweb node-wot team" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/hover.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/hover-min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.png" type="image/png" />
    <link rel="icon" href="/img/favicon/favicon.png" type="image/png" />

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="086kyR2UJR794fn8Z97o9QMEJLOqCoVhPIqxYtZBSA4" />

</head>
