            <div class="icon-holder">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-paste"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>Software </h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable </p>
                                    <a href="#" class="btn btn-read">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-desktop"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>Web technology  </h2>
                                    <p>It is a long established fact that a reader will be distracted by the </p>
                                    <a href="#" class="btn btn-read">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-users"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>Applications  </h2>
                                    <p>It is a long established fact that a reader will be distracted by the </p>
                                    <a href="#" class="btn btn-read">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>