            <div class="icon-holder">
            	<div class="container">
					<div class="row">
						<div class="col-sm-12" style="text-align: center;">
							<h2>We provide sevices to support exploring W3C WoT</h2>
						</div>
					</div>
                	<div class="row">
                    	<div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-sitemap"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>TD Directory</h2>
                                    <p>REST interface for TDs.</p>
                                    <a href="http://plugfest.thingweb.io/" class="btn btn-read">Explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-play"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>TD Playground</h2>
                                    <p>Tool to check the validity of a TD.</p>
                                    <a href="http://plugfest.thingweb.io/playground/" class="btn btn-read">Explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        	<div class="icon-content-all text-center">
                            	<div class="icon-image">
                                	<i class="fa fa-desktop"></i>
                                </div>
                                <div class="icon-text">
                                	<h2>Web UI</h2>
                                    <p>Running instance of a Web-UI.</p>
                                    <a href="http://plugfest.thingweb.io:8088/test/fullscreen/default" class="btn btn-read">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>