<div class="icon-holder">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h2>We host services to make it easier to explore W3C WoT</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-content-all text-center">
                    <div class="icon-image">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="icon-text">
                        <h2>TD Playground</h2>
                        <p>Online Tooling to validate TDs or transform them</p>
                        <a href="http://plugfest.thingweb.io/playground/" class="btn btn-read">Start playing</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-content-all text-center">
                    <div class="icon-image">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="icon-text">
                        <h2>Online Things</h2>
                        <p>Publicly-hosted WoT Things to test Consumer applications</p>
                        <a href="http://plugfest.thingweb.io/" class="btn btn-read">Start testing</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-content-all text-center">
                    <div class="icon-image">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="icon-text">
                        <h2>Web UI</h2>
                        <p>A simple website to consume TDs and interact with Things</p>
                        <a href="http://plugfest.thingweb.io/webui/" class="btn btn-read">Start interacting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>