            <div class="project-holder">
            	<div class="why-sh">
                    <img src="img/others/web-1.png" class="img-fluid" width="100%"/>
                </div>
                <div class="p-all">
                <div class="container">
                	<div class="project-heading text-center">
                    	<h1 style="">Our Projects</h1>
                    </div>
                    <div class="project-content">
                        <div class="owl-carousel-pro">
                            <div class="item">
                                <div class="pro-all">
                                    <div class="pro-image-all">
                                        <div class="pro-image">
                                            <img src="img/others/pro-1.jpg" class="img-fluid"/>
                                        </div>
                                        <div class="pro-icon">
                                            <a href="#"><img src="img/icons/pro-arrow-round.png" class="img-fluid"/></a>
                                        </div>
                                    </div>
                                    <div class="pro-text">
                                    	<h4>Cum soluta </h4>
                                        <p>Itaque earum rerum hic tenetura sapiente delectus,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pro-all">
                                    <div class="pro-image-all">
                                        <div class="pro-image">
                                            <img src="img/others/pro-2.jpg" class="img-fluid"/>
                                        </div>
                                        <div class="pro-icon">
                                            <a href="#"><img src="img/icons/pro-arrow-round.png" class="img-fluid"/></a>
                                        </div>
                                    </div>
                                    <div class="pro-text">
                                    	<h4>Praesentium</h4>
                                        <p>Itaque earum rerum hic tenetura sapiente delectus,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pro-all">
                                    <div class="pro-image-all">
                                        <div class="pro-image">
                                            <img src="img/others/pro-3.jpg" class="img-fluid"/>
                                        </div>
                                        <div class="pro-icon">
                                            <a href="#"><img src="img/icons/pro-arrow-round.png" class="img-fluid"/></a>
                                        </div>
                                    </div>
                                    <div class="pro-text">
                                    	<h4>Voluptatum</h4>
                                        <p>Itaque earum rerum hic tenetura sapiente delectus,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pro-all">
                                    <div class="pro-image-all">
                                        <div class="pro-image">
                                            <img src="img/others/pro-4.jpg" class="img-fluid"/>
                                        </div>
                                        <div class="pro-icon">
                                            <a href="#"><img src="img/icons/pro-arrow-round.png" class="img-fluid"/></a>
                                        </div>
                                    </div>
                                    <div class="pro-text">
                                    	<h4>Quos dolores </h4>
                                        <p>Itaque earum rerum hic tenetura sapiente delectus,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="why-sh sp">
                    <img src="img/others/web-2.png" class="img-fluid" width="100%"/>
                </div>
            </div>