            <div class="test-holder">
            	<div class="container">
                	<div class="test-heading text-center">
                    	<h1>Testimonials</h1>
                    </div>
                    <div class="test-row">
                    	<div class="owl-carousel-pros">
                        	<div class="item">
                            	<div class="test-all">
                                	<div class="test-top text-center">
                                    	<img src="img/icons/test-quo.png" class="img-fluid"/>
                                        <p> In ullamcorper est eget tempor cursus neque mi consectetuer mi a ultricies massa est sed nisl Class aptent taciti sociosqu ad litora torquent per conubia nostra </p>
                                        <div class="shas">
                                        <img src="img/icons/sha.png" class="sha img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="test-bottom">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="test-image">
                                                <img src="img/icons/tm-1.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="test-text">
                                                <h4>By Author</h4>
                                                <h5>City, Location</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="test-last-image">
                                                <img src="img/icons/ti-1.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                            	<div class="test-all">
                                	<div class="test-top text-center">
                                    	<img src="img/icons/test-quo.png" class="img-fluid"/>
                                        <p> In ullamcorper est eget tempor cursus neque mi consectetuer mi a ultricies massa est sed nisl Class aptent taciti sociosqu ad litora torquent per conubia nostra </p>
                                        <div class="shas">
                                        <img src="img/icons/sha.png" class="sha img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="test-bottom">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="test-image">
                                                <img src="img/icons/tm-2.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="test-text">
                                                <h4>By Author</h4>
                                                <h5>City, Location</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="test-last-image">
                                                <img src="img/icons/ti-2.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                            	<div class="test-all">
                                	<div class="test-top text-center">
                                    	<img src="img/icons/test-quo.png" class="img-fluid"/>
                                        <p> In ullamcorper est eget tempor cursus neque mi consectetuer mi a ultricies massa est sed nisl Class aptent taciti sociosqu ad litora torquent per conubia nostra </p>
                                        <div class="shas">
                                        <img src="img/icons/sha.png" class="sha img-fluid"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="test-bottom">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="test-image">
                                                <img src="img/icons/tm-3.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="test-text">
                                                <h4>By Author</h4>
                                                <h5>City, Location</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="test-last-image">
                                                <img src="img/icons/ti-3.png" class="img-fluid"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>